/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

input, select, button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.no-bullets {
    list-style-type: none;
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0;      /* Removes indentation */
}
