/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* CSS for larger screens */
.container {
    width: 60%;
    margin: auto;
}

/* CSS for mobile screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

input, select, button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.no-bullets {
    list-style-type: none;
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0;      /* Removes indentation */
}

.explanation, .detailed-explanation, .source-code {
    text-align: left;
}
